container_commands:
  01_update_dnf:
    command: "sudo dnf update -y"
    ignoreErrors: true

  02_install_certbot:
    command: "sudo dnf install -y certbot python3-certbot-nginx"
    test: "! command -v certbot &> /dev/null"

  03_stop_nginx:
    command: "sudo systemctl stop nginx"
    ignoreErrors: true

  04_obtain_cert:
    command: |
      sudo certbot certonly --standalone \
      -d atticusezis.com \
      -d www.atticusezis.com \
      --non-interactive --agree-tos \
      -m atticus.ezis@gmail.com
    ignoreErrors: true

  05_start_nginx:
    command: "sudo systemctl start nginx"
    ignoreErrors: true

  06_reload_nginx:
    command: "sudo systemctl reload nginx"
    ignoreErrors: true
