container_commands:
  01_install_certbot:
    command: "sudo amazon-linux-extras install epel -y && sudo yum install -y certbot python3-certbot-nginx"
  02_stop_nginx:
    command: "sudo service nginx stop"
  03_obtain_cert:
    command: |
      sudo certbot certonly --standalone \
      -d atticusezis.com \
      -d www.atticusezis.com \
      --non-interactive --agree-tos \
      -m atticus.ezis@gmail.com
  04_start_nginx:
    command: "sudo service nginx start"