files:
  "/etc/systemd/system/certbot-renew.service":
    mode: "000644"
    owner: root
    group: root
    content: |
      [Unit]
      Description=Certbot Renewal Service
      
      [Service]
      ExecStart=/usr/bin/certbot renew --quiet --deploy-hook "systemctl reload nginx"
      
  "/etc/systemd/system/certbot-renew.timer":
    mode: "000644"
    owner: root
    group: root
    content: |
      [Unit]
      Description=Timer for Certbot Renewal
      
      [Timer]
      OnCalendar=daily
      RandomizedDelaySec=1h
      Persistent=true
      
      [Install]
      WantedBy=timers.target

container_commands:
  01_enable_certbot_timer:
    command: "sudo systemctl enable certbot-renew.timer && sudo systemctl start certbot-renew.timer"